.student-card-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	border-bottom: 1px solid #000000;
  .student-card-details {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .student-card-favorite {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1em;
  }
}
